.display {
    margin-bottom: 7px;
    width: 221px;
    background-color: rgb(199, 204, 209);
    color: black;
    text-align: end;
    padding-right: 7px;
    margin-right: 7px;
    border-radius: 4px;
}

.manipulate {
    display: grid;
    grid-gap: 7px;
}

.changers {
    padding-bottom: 7px;
}

.changers {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(3, auto);
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 7px;
}

.functions {
    display: grid;
    grid-gap: 7px;
    grid-column: 2; 
}